# Sentimentalgo credentials
SENTIMENT_EMAIL=atletikpenguen@gmail.com
SENTIMENT_PASSWORD=qwe1323

# Google Sheets configuration
SHEET_ID=1daGabBAYapAd0sDqcvI6qn908Id2hz8Y
SHEET_NAME=sent
INDEX_SHEET_NAME=Sayfa2

# Google Service Account credentials file
GOOGLE_CREDENTIALS_FILE=credentials.json
